# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*build/
*dist/
*.egg-info/
venv/
.venv/

# Pytest
.pytest_cache/

# Coverage reports
.coverage
coverage.xml
htmlcov/

# IDE configuration
.idea/
.vscode/

# Home Assistant test configuration
/config/

# Operating System files
.DS_Store
Thumbs.db