# Core Home Assistant library for type hinting and testing
homeassistant

# Core testing framework
pytest

# Test coverage reporting
pytest-cov

# Fixture for mocking objects
pytest-mock

# The missing library for testing Home Assistant custom components
pytest-homeassistant-custom-component

# Snapshot testing library
syrupy

# Linter and code formatter
ruff